@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth !important;
}

.header {
  animation: slideInLeft 1.5s ease-in 1;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(+300px);
  }
  to {
    transform: translateX(0);
  }
}
